# OS-specific
.DS_Store
Thumbs.db

# IDE / Editor specific
.vscode/
.idea/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environments
venv/
env/

# Environment variables
# Keep your secret keys out of the repository.
.env

# XtraAnim Generated Content
/media/*
!/media/uploads/
scene_proj_*.py
src/backend/scene_proj_*.py
temp_scenes/
src/tmp/
data/*.db
xtra-local-agent/xtra_outputs/
xtra-local-agent/__pycache__/
xtra_outputs/